<html>

<head>
    <title>Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../SiteAssets/css/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="../SiteAssets/css/vendors/line-awesome.min.css" />
    <link rel="stylesheet" href="../SiteAssets/css/pages/layout.css" />
    <link rel="icon" href="../SiteAssets/images/covid-19.ico" />
    <script src="../SiteAssets/js/vendors/jquery.min.js"></script>
    <script src="../SiteAssets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../SiteAssets/js/global.js"></script>
    <link rel="stylesheet" href="../SiteAssets/css/pages/patients.css" />
    <script src="../SiteAssets/js/patients.js"></script>



    <style>
        .dialo{
       position: fixed;
       margin-left: 28%;
       top: 0;
       width: 40%;
        display: none;
       margin-top: 20%;
       background-color: red;
       z-index: 400;
       
   }
   .covercon{
       position: fixed;
       width:100vw;
       height: 100vh;
       background-color: rgba(255, 255, 255, 0.5); 
       display: none;
       top:0;
       left:0;
       z-index: 3000;
       
   }
   .opendiscancel{
       display: block;
    
   }
   .buttflex{
   display: flex;
   justify-content:space-between;
 }
 

   .wrappingman{
 width: 100%;
 background: #fff;
 border-radius: 5px;
 padding: 25px 25px 30px;
 box-shadow: 8px 8px 10px rgba(0,0,0,0.06);
}
.wrappingman h2{
 color: #4671EA;
 font-size: 28px;
 text-align: center;
}
.wrappingman textarea{
 width: 100%;
 resize: none;
 height: 140px;
 outline: none;
 padding: 15px;
 font-size: 16px;
 margin-top: 20px;
 border-radius: 5px;
 max-height: 330px;
 caret-color: #4671EA;
 border: 1px solid #bfbfbf;
}
textarea::placeholder{
 color: #b3b3b3;
}
textarea:is(:focus, :valid){
 padding: 14px;
 border: 2px solid #4671EA;
}
textarea::-webkit-scrollbar{
 width: 0px;
}



.dialo2{
       position: fixed;
       margin-left: 28%;
       top: 0;
       width: 40%;
        display: none;
       margin-top: 20%;
       background-color: red;
       z-index: 400;
       
   }
   .covercon2{
       position: fixed;
       width:100vw;
       height: 100vh;
       background-color: rgba(255, 255, 255, 0.5); 
       display: none;
       top:0;
       left:0;
       z-index: 3000;
       
   }
 
 

   .wrappingman2{
 width: 100%;
 background: #fff;
 border-radius: 5px;
 padding: 25px 25px 30px;
 box-shadow: 8px 8px 10px rgba(0,0,0,0.06);
}
.wrappingman2 h2{
 color: #4671EA;
 font-size: 28px;
 text-align: center;
}

   </style>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg shadow-sm fixed-top"><a class="navbar-brand" href=""><img
                    src="../SiteAssets/images/logo.png" /><span>Wellness Nexus</span></a>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link"><i class="las la-question-circle"></i></a></li>
                    <li class="nav-item dropdown dropleft"><a class="nav-link notification-dropdown" href="#"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                class="badge badge-pill badge-primary"
                                style="float:right;margin-bottom:-10px;"></span><i class="las la-bell"></i></a>
                        <div class="dropdown-menu notification-dropdown-menu shadow-lg"
                            aria-labelledby="notification-dropdown">
                            <div class="dropdown-title"><a href="">notifications<span
                                        class="ml-2 notifications-count">(3)</span></a><a class="float-right"
                                    href="">mark all as read</a></div>
                            <div class="dropdown-body">
                                <ul class="list-unstyled">
                                    <li class="media"><a class="notification-card" href=""><img class="mr-3"
                                                src="../SiteAssets/images/logo.png" alt="..." />
                                            <div class="media-body">
                                                <h6 class="mt-0 mb-1">collaboration tools available</h6>
                                                <p>Cras sit amet nibh libero, in gravida nulla.</p><small
                                                    class="text-muted">21.03.2020, 13.02</small>
                                            </div>
                                        </a></li>
                                    <li class="media"><a class="notification-card" href=""><img class="mr-3"
                                                src="../SiteAssets/images/inbox.svg" alt="..." />
                                            <div class="media-body">
                                                <h6 class="mt-0 mb-1">use the new app launcher</h6>
                                                <p>Cras sit amet nibh libero, in gravida nulla.</p><small
                                                    class="text-muted">21.03.2020, 13.02</small>
                                            </div>
                                        </a></li>
                                    <li class="media"><a class="notification-card" href=""><img class="mr-3"
                                                src="../SiteAssets/images/inbox.svg" alt="..." />
                                            <div class="media-body">
                                                <h6 class="mt-0 mb-1">the new dashboard abailable</h6>
                                                <p>Cras sit amet nibh libero, in gravida nulla.</p><small
                                                    class="text-muted">21.03.2020, 13.02</small>
                                            </div>
                                        </a></li>
                                </ul>
                            </div>
                            <div class="dropdown-footer text-center"><a href="notifications.html">view more</a></div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link"><span class="vertical-divider"></span></div>
                    </li>
                    <li class="nav-item"><a class="nav-link profile-dropdown" href="/logout"
                        aria-haspopup="true" aria-expanded="false">logout</a>
                  
               </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="side-nav">
            <ul class="list-group list-group-flush"><a class="list-group-item" href="/hosdashboard"
                data-toggle="tooltip" data-placement="bottom" title="Dashboard"
                style="background-color: #add2d2; color: #0c0c0c;"><i
                    class="las la-shapes la-lw"></i><span>dashboard</span></a><a class="list-group-item" href="/specialists" data-toggle="tooltip"
                data-placement="bottom" title="Appointment" style="background-color: #add2d2; color: #0c0c0c;"><i
                    class="las la-shopping-cart la-lw"></i>
                <span>specialists</span></a><a class="list-group-item"
                href="/hostodayapp" data-toggle="tooltip" data-placement="bottom" title="Appointment"style= "background-color: #add2d2; color: #0c0c0c;"><i
                    class="las la-shopping-cart la-lw"></i><span>today Appointments</span></a><a class="list-group-item" href="/hosappointment" data-toggle="tooltip"
                data-placement="bottom" title="Appointment" style="background-color: #add2d2; color: #0c0c0c;"><i
                    class="las la-shopping-cart la-lw"></i>
                <span>Appointment</span></a><a class="list-group-item" href="/settings" data-toggle="tooltip"
                data-placement="bottom" title="Settings" style="background-color: #add2d2; color: #0c0c0c;"><i
                    class="las la-cogs la-lw"></i>
                <span>settings</span></a>
            <hr class="divider" />
            <div class="aob-items">

        </ul>
        </div>
        <div class="main-content">
            <div class="container-fluid">
                <div class="section title-section">
                  
                </div>
                <div class="section filters-section">
                    
                 
                    <div class="buttons-wrapper ml-auto"style= "background-color: #add2d2; color: #0c0c0c;"><button class="btn btn-dark-red-f-gr"><i
                                class="las la-plus-circle"></i>add a new patient</button></div>
                </div>
                <div class="section patients-card-view">
                    <div class="row todayapp">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-img-top"><img class="rounded-circle"
                                            src="../SiteAssets/images/people.svg" loading="lazy" /><a class="view-more"
                                            href="details.html">view profile</a></div>
                                </div>
                                <div class="card-body">
                                    <div class="card-subsection-title">
                                        <h5>example name</h5>
                                        <p class="text-muted">patient-id: 2189178</p>
                                    </div>
                                    <div class="card-subsection-body"><label class="text-muted">age</label>
                                        <p>29</p><label class="text-muted">date of birth</label>
                                        <p>21/12/1993</p><label class="text-muted">diagnosis</label>
                                        <p>urgent</p>
                                    </div>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-img-top"><img class="rounded-circle"
                                            src="../SiteAssets/images/people.svg" loading="lazy" /><a class="view-more"
                                            href="details.html">view profile</a></div>
                                </div>
                                <div class="card-body">
                                    <div class="card-subsection-title">
                                        <h5>example name</h5>
                                        <p class="text-muted">patient-id: 2189178</p>
                                    </div>
                                    <div class="card-subsection-body"><label class="text-muted">age</label>
                                        <p>29</p><label class="text-muted">date of birth</label>
                                        <p>21/12/1993</p><label class="text-muted">diagnosis</label>
                                        <p>non urgent</p>
                                    </div>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-img-top"><img class="rounded-circle"
                                            src="../SiteAssets/images/people.svg" loading="lazy" /><a class="view-more"
                                            href="details.html">view profile</a></div>
                                </div>
                                <div class="card-body">
                                    <div class="card-subsection-title">
                                        <h5>example name</h5>
                                        <p class="text-muted">patient-id: 2189178</p>
                                    </div>
                                    <div class="card-subsection-body"><label class="text-muted">age</label>
                                        <p>29</p><label class="text-muted">date of birth</label>
                                        <p>21/12/1993</p><label class="text-muted">diagnosis</label>
                                        <p>resuscitation</p>
                                    </div>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-img-top"><img class="rounded-circle"
                                            src="../SiteAssets/images/people.svg" loading="lazy" /><a class="view-more"
                                            href="details.html">view profile</a></div>
                                </div>
                                <div class="card-body">
                                    <div class="card-subsection-title">
                                        <h5>example name</h5>
                                        <p class="text-muted">patient-id: 2189178</p>
                                    </div>
                                    <div class="card-subsection-body"><label class="text-muted">age</label>
                                        <p>29</p><label class="text-muted">date of birth</label>
                                        <p>21/12/1993</p><label class="text-muted">diagnosis</label>
                                        <p>emergency</p>
                                    </div>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-img-top"><img class="rounded-circle"
                                            src="../SiteAssets/images/people.svg" loading="lazy" /><a class="view-more"
                                            href="details.html">view profile</a></div>
                                </div>
                                <div class="card-body">
                                    <div class="card-subsection-title">
                                        <h5>example name</h5>
                                        <p class="text-muted">patient-id: 2189178</p>
                                    </div>
                                    <div class="card-subsection-body"><label class="text-muted">age</label>
                                        <p>29</p><label class="text-muted">date of birth</label>
                                        <p>21/12/1993</p><label class="text-muted">diagnosis</label>
                                        <p>urgent</p>
                                    </div>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-img-top"><img class="rounded-circle"
                                            src="../SiteAssets/images/people.svg" loading="lazy" /><a class="view-more"
                                            href="details.html">view profile</a></div>
                                </div>
                                <div class="card-body">
                                    <div class="card-subsection-title">
                                        <h5>example name</h5>
                                        <p class="text-muted">patient-id: 2189178</p>
                                    </div>
                                    <div class="card-subsection-body"><label class="text-muted">age</label>
                                        <p>29</p><label class="text-muted">date of birth</label>
                                        <p>21/12/1993</p><label class="text-muted">diagnosis</label>
                                        <p>non urgent</p>
                                   
                                    </div>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-img-top"><img class="rounded-circle"
                                            src="../SiteAssets/images/people.svg" loading="lazy" /><a class="view-more"
                                            href="details.html">view profile</a></div>
                                </div>
                                <div class="card-body">
                                    <div class="card-subsection-title">
                                        <h5>example name</h5>
                                        <p class="text-muted">patient-id: 2189178</p>
                                    </div>
                                    <div class="card-subsection-body"><label class="text-muted">age</label>
                                        <p>29</p><label class="text-muted">date of birth</label>
                                        <p>21/12/1993</p><label class="text-muted">diagnosis</label>
                                        <p>resuscitation</p>
                                    </div>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-img-top"><img class="rounded-circle"
                                            src="../SiteAssets/images/people.svg" loading="lazy" /><a class="view-more"
                                            href="details.html">view profile</a></div>
                                </div>
                                <div class="card-body">
                                    <div class="card-subsection-title">
                                        <h5>example name</h5>
                                        <p class="text-muted">patient-id: 2189178</p>
                                    </div>
                                    <div class="card-subsection-body"><label class="text-muted">age</label>
                                        <p>29</p><label class="text-muted">date of birth</label>
                                        <p>21/12/1993</p><label class="text-muted">diagnosis</label>
                                        <p>emergency</p>
                                    </div>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section patients-table-view no-display">
                    <table class="table table-hover table-responsive-lg">
                        <thead>
                            <tr>
                                <th>patient ID</th>
                                <th>patient name</th>
                                <th>age</th>
                                <th>date of birth</th>
                                <th>diagnosis</th>
                                <th>triage</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2189178</td>
                                <td><img class="rounded-circle" src="../SiteAssets/images/people.svg"
                                        loading="lazy" /><span class="ml-2">example name</span></td>
                                <td>29 yo</td>
                                <td>21/03/1992</td>
                                <td>cancer</td>
                                <td><label class="label-orange">urgent</label></td>
                                <td><a class="view-more btn btn-sm btn-dark-red-f" href="details.html">view profile</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2189178</td>
                                <td><img class="rounded-circle" src="../SiteAssets/images/people.svg"
                                        loading="lazy" /><span class="ml-2">example name</span></td>
                                <td>29 yo</td>
                                <td>21/03/1992</td>
                                <td>cancer</td>
                                <td><label class="label-green">non urgent</label></td>
                                <td><a class="view-more btn btn-sm btn-dark-red-f" href="details.html">view profile</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2189178</td>
                                <td><img class="rounded-circle" src="../SiteAssets/images/people.svg"
                                        loading="lazy" /><span class="ml-2">example name</span></td>
                                <td>29 yo</td>
                                <td>21/03/1992</td>
                                <td>cancer</td>
                                <td><label class="label-blue">resuscitation</label></td>
                                <td><a class="view-more btn btn-sm btn-dark-red-f" href="details.html">view profile</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2189178</td>
                                <td><img class="rounded-circle" src="../SiteAssets/images/people.svg"
                                        loading="lazy" /><span class="ml-2">example name</span></td>
                                <td>29 yo</td>
                                <td>21/03/1992</td>
                                <td>cancer</td>
                                <td><label class="label-pink">emergency</label></td>
                                <td><a class="view-more btn btn-sm btn-dark-red-f" href="details.html">view profile</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2189178</td>
                                <td><img class="rounded-circle" src="../SiteAssets/images/people.svg"
                                        loading="lazy" /><span class="ml-2">example name</span></td>
                                <td>29 yo</td>
                                <td>21/03/1992</td>
                                <td>cancer</td>
                                <td><label class="label-orange">urgent</label></td>
                                <td><a class="view-more btn btn-sm btn-dark-red-f" href="details.html">view profile</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2189178</td>
                                <td><img class="rounded-circle" src="../SiteAssets/images/people.svg"
                                        loading="lazy" /><span class="ml-2">example name</span></td>
                                <td>29 yo</td>
                                <td>21/03/1992</td>
                                <td>cancer</td>
                                <td><label class="label-green">non urgent</label></td>
                                <td><a class="view-more btn btn-sm btn-dark-red-f" href="details.html">view profile</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2189178</td>
                                <td><img class="rounded-circle" src="../SiteAssets/images/people.svg"
                                        loading="lazy" /><span class="ml-2">example name</span></td>
                                <td>29 yo</td>
                                <td>21/03/1992</td>
                                <td>cancer</td>
                                <td><label class="label-blue">resuscitation</label></td>
                                <td><a class="view-more btn btn-sm btn-dark-red-f" href="details.html">view profile</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2189178</td>
                                <td><img class="rounded-circle" src="../SiteAssets/images/people.svg"
                                        loading="lazy" /><span class="ml-2">example name</span></td>
                                <td>29 yo</td>
                                <td>21/03/1992</td>
                                <td>cancer</td>
                                <td><label class="label-pink">emergency</label></td>
                                <td><a class="view-more btn btn-sm btn-dark-red-f" href="details.html">view profile</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal onboarding-modal" tabindex="=1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Welcome</h5><button class="close" type="button"
                                    data-dismiss="modal" aria-label="Close"><i class="las la-times-circle"></i></button>
                            </div>
                            <div class="modal-body">
                                <div class="carousel slide" id="carouselExampleCaptions" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active"><img class="d-block"
                                                src="../SiteAssets/images/undraw_dashboard_nklg.svg" alt="..." />
                                            <div class="carousel-caption d-md-block">
                                                <p>intuitive<a href="" data-dismiss="modal">dashboard<i
                                                            class="las la-external-link-alt"></i></a></p>
                                            </div>
                                        </div>
                                        <div class="carousel-item"><img class="d-block"
                                                src="../SiteAssets/images/undraw_medicine_b1ol.svg" alt="..." />
                                            <div class="carousel-caption d-md-block">
                                                <p>access to<a href="specialists.html">specialists<i
                                                            class="las la-external-link-alt"></i></a></p>
                                            </div>
                                        </div>
                                        <div class="carousel-item"><img class="d-block"
                                                src="../SiteAssets/images/undraw_receipt_ecdd.svg" alt="..." />
                                            <div class="carousel-caption d-md-block">
                                                <p>simple<a href="Appointment.html">Appointment<i
                                                            class="las la-external-link-alt"></i></a>process</p>
                                            </div>
                                        </div>
                                        <div class="carousel-item"><img class="d-block"
                                                src="../SiteAssets/images/undraw_new_notifications_fhvw.svg"
                                                alt="..." />
                                            <div class="carousel-caption d-md-block">
                                                <p>comprehensive<a href="notifications.html">notification<i
                                                            class="las la-external-link-alt"></i></a>center</p>
                                            </div>
                                        </div>
                                        <div class="carousel-item"><img class="d-block"
                                                src="../SiteAssets/images/undraw_Preferences_re_49in.svg" alt="..." />
                                            <div class="carousel-caption d-md-block">
                                                <p>minimalist<a href="settings.html">settings<i
                                                            class="las la-external-link-alt"></i></a>center</p>
                                            </div>
                                        </div>
                                    </div><a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
                                        data-slide="prev"><i class="las la-chevron-circle-left"></i><span
                                            class="sr-only">Previous</span></a><a class="carousel-control-next"
                                        href="#carouselExampleCaptions" role="button" data-slide="next"><i
                                            class="las la-chevron-circle-right"></i><span
                                            class="sr-only">Next</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>

    <div class = "covercon">
        <div class = "dialo">
            <div class="wrappingman">
                <h2>Give us a reason why you want to cancel appointment?</h2>
                <textarea spellcheck="false" id="reasoncont" placeholder="Type something here..." required></textarea>
                <br><br>
                <div class = "buttflex">
                   
                    <div class="dropdown" id ="diaclose" ><a class="btn btn-dark-red-o" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">close</a></div>

                        <div class="dropdown" id = "cancelappoin"><a class="btn btn-dark-red-o" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">cancel appointment</a></div>
               
                   </div>
              </div></div></div>


    <div class = "covercon2">
        <div class = "dialo2">
            <div class="wrappingman2">
                <h2>does patient appointment is completed?</h2>
                <br><br>
                
                <div class = "buttflex" style="display:flex; justify-content: space-between;">
                   
                    <div class="dropdown" id ="diaclose2" ><a class="btn btn-dark-red-o" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">close</a></div>

                        <div class="dropdown" id = "markasdone2"><a class="btn btn-dark-red-o" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">yes(mark as done)</a></div>
               
                   </div>
              </div></div></div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>

function extractNumberFromString(inputString) {
    // Split the input string by "-"
    const parts = inputString.split("-");

    // Get the last part of the split array, which should be the number part
    const numberStr = parts[parts.length - 1];

    // Convert the number string to an actual number (integer)
    const number = parseInt(numberStr);

    // Return the extracted number
    return number;
}

var cancelledele;
var penorup;
var list;

    function getdata(){
        $.ajax({
            
            type:"GET",
            url:"http://localhost:3000/getapplist",
            success:function(datalist){
                list = datalist;
                $(".todayapp").html('');
               var len = datalist.length;
           
               console.log(datalist);
               if(len == 0){
                $(".todayapp").html('');
                $(".todayapp").text('No Appointments Today');

               }
               else{

                for(var i =0;i<len;i++){
                    $(".todayapp").html('');
                    $(".todayapp").append(`<div class="col-md-3  item${i}">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-img-top"><img class="rounded-circle"
                                            src="../SiteAssets/images/people.svg" loading="lazy" /><a class="view-more"
                                            href="details.html">view profile</a></div>
                                </div>
                                <div class="card-body">
                                    <div class="card-subsection-title">
                                        <p>patient name: ${datalist[i]["patientname"]}<p>
                                       
                                    </div>
                                    <div class="card-subsection-body"><label class="text-muted">booked slot</label>
                                        <p>${datalist[i]["time"]}</p><label class="text-muted">assigned doctor</label>
                                        <p>${datalist[i]["assigndoctor"]}</p><label class="text-muted">type of treatment</label>
                                        <p>${datalist[i]["treattype"]}</p>
                                        <div style="display:flex; justify-content: space-between;">
                                        <div class="dropdown"><a class="btn btn-dark-red-o"  id = "markasdonependingbut-${i}" href="#" role="button"
                                            aria-haspopup="true" aria-expanded="false">mark as done</a>
                                       
                                    </div>
                                    <div class="dropdown" ><a class="btn btn-dark-red-o" id = "markappointmencancelbutupcom-${i}" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">cancel appointment</a>
                                   
                                </div>
                            </div>
                                    </div>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>`);

                        $(`#markappointmencancelbutupcom-${i}`).on('click',function(){
                   console.log("hello there");

                   var extnumber = $(this).attr('id');
                   var id = extractNumberFromString(extnumber);
                   cancelledele = id;
                 
                   
                   $(".dialo").show();
                   $(".covercon").show();
                   
                   
                   });





                        $(`#markasdonependingbut-${i}`).on('click',function(){
    
    console.log("hello there");
var extnumber = $(this).attr('id');
var id = extractNumberFromString(extnumber);
cancelledele = id;
penorup = 2; 
 

$(".dialo2").show();
$(".covercon2").show();


})

                }

               }
            
             
    
            },
            failure:function(){
                console.log("something error has occured ");
            }
    
            }
        )
    }
    
   



        $("#markasdone2").on('click',function(){
var id = cancelledele;
var hos = list[id]["_id"];
$.ajax({
        type:"GET",
        url:"http://localhost:3000/hosmarkasdone",
        data:{id:hos},
        success:function(datalist){
            getdata();
           
    $(".dialo2").hide();
    $(".covercon2").hide();
   
            
},

    failure:function(){
        console.log("couldnt cancell appointment please try again later");
    }});

    })



    $("#cancelappoin").on('click',function(){
        var id = cancelledele;
        var hos;
      
            hos = list[id]["_id"]
            console.log(hos);
        
            var reas = $('#reasoncont').val();
        


            $.ajax({
        type:"GET",
        url:"http://localhost:3000/hoscancelapplist",
        data:{id:hos,reason:reas},
        success:function(datalist){
            getdata();
            
    $(".dialo").hide();
    $(".covercon").hide();
    $('#reasoncont').val("");
            
},

    failure:function(){
        console.log("couldnt cancell appointment please try again later");
    }});

        


    

    });


    $("#diaclose2").on('click',function(){
        $(".dialo2").hide();
    $(".covercon2").hide();

    });


    $("#diaclose").on('click',function(){
        $(".dialo").hide();
    $(".covercon").hide();
    $('#reasoncont').val("");

    })


    $(function(){
        getdata();
    })
        </script>
    
</body>

</html>